<%= form_for @micropost, id: 'text-area-micropost' do |f| %>
  <% if @micropost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@micropost.errors.count, 'error') %> prohibited this post from being saved:</h2>
      <ul>
        <% @micropost.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  <%= f.text_area :content, rows: 5, width: '' %> <br>
  <%= f.submit 'Submit', class: 'btn btn-md btn-primary' %>
<% end %>
